# Python version
#python_version >= "3.10"

# Code dependencies
numpy
matplotlib>=3.9
pydantic
rdflib
rocrate

# Documentation
sphinx
pydata-sphinx-theme
autodoc_pydantic

# Linting & Formatting
ruff

# Type checking
mypy
types-docutils

# Unit testing
pytest

#Debug
debugpy